---
interface Props {
  title: string;
  open?: boolean;
}

const { title, open = false } = Astro.props;
---

<details class="mdx-collapse" open={open}>
  <summary>{title}</summary>
  <div class="mdx-collapse-body">
    <slot />
  </div>
</details>
