---
interface Props {
  tag: string;
}

const { tag } = Astro.props;
---

<span class="inline-flex h-6 items-center rounded-md border border-slate-800 bg-slate-900/70 px-2 text-xs font-medium text-slate-400">
  #{tag.replace(/^#+|#+$/g, '')}
</span>
